# Server
PORT=9000
NODE_ENV=development
JWT_SECRET=my-super-secret-key
JWT_EXPIRES_IN=1h

# Database
DATABASE_URL='postgresql://neondb_owner:npg_24mBXgVHUGAF@ep-cool-cake-a43vnh8a-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'


# Email (Gmail example)
EMAIL_USER=ibrahimabiodun2019@gmail.com
EMAIL_PASS=byyztbhbuxkpvqbw




